.cart-players {
    min-height: 200px;
    background: rgba(211, 211, 211, 0.486);
    margin-bottom: 18px;
    box-shadow: 1px 1px 12px 1px lightgrey;
    border: 2px solid lightgrey;
    padding: 10px;
}
.name-price p {
    margin: 0;
}
.selected-player {
    border: 1px solid #5d4435;
    color: #333333;
    margin: 0px;
    padding: 6px 0;
}
