header {
    background: url("../../Images/0011.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
}
