.player {
    overflow: hidden;
}
.player img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-position: top;
}

@media only screen and (max-width: 768px) {
    .player img {
        height: 400px;
    }
}
