button {
    background-color: #5d4435; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
}
button:hover {
    background-color: #354f35;
    text-decoration: none;
}
.App {
    background-color: whitesmoke;
}
